@import "~/src/common/screens";

.foundBooks {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.category, .authors {
    color: #808080;
    margin-top: 10px;
}

.category {
    text-decoration: underline;
}

.thumbnail {
    display: block;
    margin: 5px auto;

    height: 192px;
    box-shadow: 8px 5px 8px 2px rgba(34, 60, 80, 0.3);
}

.noPhoto {
    box-shadow: none;
}

.title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.itemsBlock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    margin-top: 30px;
}

.itemBlock {
    display: flex;
    flex-direction: column;
    text-align: start;

    padding: 25px;
    border-radius: 10px;
    border: 0;

    background: #f5f5f5;
    cursor: pointer;
    transition: .3s ease;

    &:focus-visible {
        box-shadow: 0 0 0 4px #a6bdee;
    }

    &:hover {
        box-shadow: 0px 5px 25px 0 rgba(34, 60, 80, 0.3);
    }
}

.loadMore {
    margin-top: 50px;
}

@media all and (max-width: 1200px) {
    .itemsBlock {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width: 992px) {
    .itemsBlock {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 768px) {
    .itemsBlock {
        grid-template-columns: repeat(1, 1fr);
    }
}